<h1>Editing volunteer role</h1>

<%= render "form", volunteer_role: @volunteer_role %>

<br>

<div>
  <%= link_to "Show this volunteer role", @volunteer_role %> |
  <%= link_to "Back to volunteer roles", volunteer_roles_path %>
</div>
