<p>
  <%= link_to raw("&laquo; Back to events"), events_path %>
</p>
<h1>New event</h1>

<%= render "form", event: @event %>

<br>

<p>
  <%= link_to raw("&laquo; Back to events"), events_path %>
</p>
