@import "tailwindcss";

:root {
  --background: var(--color-rose-50);
  --foreground: var(--color-indigo-950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-cyan-700);
  --color-secondary: var(--color-fuchsia-600)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-slate-900);
    --foreground: var(--color-indigo-100);
    --color-primary: var(--color-cyan-300);
    --color-secondary: var(--color-fuchsia-300);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend-sans);
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h1, h2, h3, h4, h5, h6 {
  @apply mb-4;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

p {
  @apply mb-4;
}

dt {
  @apply font-bold;
  @apply inline-block;
}

dd {
  @apply ml-2;
  @apply inline-block;
}

hr {
  @apply my-8;
  @apply border-gray-300;
  @apply border-t-1;
}

ul#site-map {
  @apply list-inside;
  @apply mb-4;
  li {
    @apply ml-5;
    a:after {
      content: attr(href);
      @apply ml-2;
      @apply text-slate-500;
      @apply text-sm;
    }
  }
}