<h1>Editing signup group</h1>

<%= render "form", signup_group: @signup_group %>

<br>

<div>
  <%= link_to "Show this signup group", @signup_group %>
  <span class="pipe">|</span>
  <%= link_to "Back to signup groups", signup_groups_path %>
</div>
