<p style="color: green"><%= notice %></p>

<h1>Users types teams</h1>

<div id="users_types_teams">
  <% @users_types_teams.each do |users_types_team| %>
    <%= render users_types_team %>
    <p>
      <%= link_to "Show this users types team", users_types_team %>
    </p>
  <% end %>
</div>

<%= link_to "New users types team", new_users_types_team_path %>
