<p>
  <%= link_to raw("&laquo; Back to events"), event_infos_path %>
</p>
<h1>New event info</h1>

<%= render "form", event_info: @event_info %>

<br>

<p>
  <%= link_to raw("&laquo; Back to events"), event_infos_path %>
</p>
