<div id="<%= dom_id users_types_group %>">
  <p>
    <strong>User:</strong>
    <%= users_types_group.user_id %>
  </p>

  <p>
    <strong>User type:</strong>
    <%= users_types_group.user_type_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= users_types_group.group_id %>
  </p>

</div>
