<h1>Editing users types group</h1>

<%= render "form", users_types_group: @users_types_group %>

<br>

<div>
  <%= link_to "Show this users types group", @users_types_group %> |
  <%= link_to "Back to users types groups", users_types_groups_path %>
</div>
