<h1>Editing event info</h1>

<%= render "form", event_info: @event_info %>

<br>

<div>
  <%= link_to "Event info", @event_info %> |
  <%= link_to "Sign up!", event_info_signup_path(@event_info.id) %> |
  <%= link_to "Back to events", event_infos_path %>
</div>
