dl > dl {
  display: flex;
  gap: 0.5rem;
  margin: 0;

  dt {
    font-weight: 700;
  }
  dd {
    margin: 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  table-layout: fixed;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 1rem 1px #eee;

  th {
    text-align: left;
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  tr {
    position: relative;
  }

  tr.odd {
    background-color: #e1e1e1;
  }

  th,
  td {
    padding: 0.5rem;
    min-width: 8rem;
    vertical-align: top;
    width: auto;
  }
  th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }

  @media (max-width: 600px) {
    table {
      display: block;
    }
    thead {
      display: none;
    }

    tr {
      display: block;
      padding: 1rem 0;
    }

    td:not(:last-of-type) {
      display: flex;
      gap: 0.5rem;
      padding-bottom: 0;
      padding-top: 0;
    }
    td:last-of-type {
      box-sizing: border-box;
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
    
    td:before {
      content: attr(data-th);
      display: inline;
      font-weight: 700;
    }
  }
}
.check-in {
  form {
    margin-bottom: 0;
  }
  textarea {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
    padding: .5rem;
    width: 100%;
  }
  details summary {
    cursor: pointer;
    &:hover {
      color: var(--secondary-color);
    }
  }
}