form {
  max-width: 600px;
  margin-bottom: 1rem;
}
.form-field {
  margin-bottom: 1rem;
  input:not([type="checkbox"], [type="radio"]),
  textarea {
    box-sizing: border-box;
    padding: .5rem;
    width: 100%;
  }
  textarea {
    height: 4rem;
  }
}
input[type="submit"],
button[type="submit"] {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--background-color);
  cursor: pointer;
  padding: .5rem 1rem;
}