:root {
  --font-family: "Avenir", "Helvetica", "Arial", san-serif;
  --font-size: 1rem;
  --primary-color: rgb(143, 57, 177);
  --secondary-color: rgb(0, 183, 255);
  --background-color: white;
  --success: green;
}

html {
  @media (max-width: 600px) {
    font-size: 20px;
  }
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.6;
}

main {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

body > header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

nav menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

.block {
  display: block;
}

.w-100 {
  width: 100% !important;
}

.notice,
.success {
  color: var(--success);
}

.break-word {
  word-wrap: break-word;
  word-break: break-all;
}

.float-right{
  float: right;
}

.pipe {
  color: #aaa;
  margin-left: .5rem;
  margin-right: .5rem;
}

.vertical-middle {
  vertical-align: middle;
}