<div id="<%= dom_id users_types_team %>">
  <p>
    <strong>User:</strong>
    <%= users_types_team.user_id %>
  </p>

  <p>
    <strong>User type:</strong>
    <%= users_types_team.user_type_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= users_types_team.team_id %>
  </p>

</div>
